################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TMapp
/TMapp/TMapp/bin
/TMapp/TMapp/obj
/TMapp/TMapp.Android/bin
/TMapp/TMapp.Android/obj

